DATABASE_URL=postgresql://jmcrust09:FUjvk9ssAzsShrVetRX1jJtMzXDrTADh@dpg-d8b1edq8qa3s73dfqfj0-a/theinferno
JWT_SECRET=tu_jwt_secret_aqui_cambialo_en_produccion
NODE_ENV=production
PGSSLMODE=require
PORT=5000
